<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>613539122586-3knfhaedk2jcpc90l7aif4s2hgqqqvam.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.613539122586-3knfhaedk2jcpc90l7aif4s2hgqqqvam</string>
	<key>API_KEY</key>
	<string>AIzaSyDynM4RXD-basZMmRBKG_FHkvjMLqbQeH8</string>
	<key>GCM_SENDER_ID</key>
	<string>613539122586</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.roynulrohan.gymgenie</string>
	<key>PROJECT_ID</key>
	<string>gymgenie-78b90</string>
	<key>STORAGE_BUCKET</key>
	<string>gymgenie-78b90.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:613539122586:ios:b5a15dc3b550314e743e23</string>
</dict>
</plist>